/* CSS Document */
/*===================  COLORS  =================================================
# c-lilac.css
#
# part of the Gemini skin for Pmwiki
#=============================================================================*/

/*===============  lilac theme ================*/
body { background-color:#f0e3ff;}

#wrapper { background-image:  url(../images/lavender-128top.jpg);
	   background-repeat:repeat-x; }

a:link { color:#00f; }
a:visited { color:#00f; }
a:hover { color:#f00; }
a:active { color:#f00; }

#content h1, #content h2, #content h3,
#content h4, #content h5, #content h6 { color:#033EC6; }

/* #content { border:1px solid #999;
		background-color:#FCFAFF; }  */
.quickref { background-color:#E9D6FF; }
#sidebar { background-color:#DAC0FF; }
#sidebar p, h1, h2, h3, h4, h5, h6, .sidehead { color:#00f; }
#sidebar h1 a:link, #sidebar h1 a:visited { color:#00f; }
#sidebar h1 a:hover, #sidebar h1 a:active,
p.sidehead a:hover, p.sidehead a:active {
		color:#f00; background: #ffffb0;} /* hover colors */
#sidebar a:link, #sidebar a:visited { color:#00f; }
#sidebar a:hover, #sidebar a:active { color:#f00;  }
#sidebar li a:hover, #sidebar li a:active  { color: #f00; background: #ffffb0; } /* hover colors */
#sidebar li, #sidebar h1, .sidehead { border-bottom: 1px solid #999; } /* menu lines */
/* border-top:1px adds horizontal lines for second level list elements: */
#sidebar ul ul li  { border-top:0px solid #999; border-bottom:0}
#sideheader h1 { border-bottom:0; }

.inputbox { color:#033EC6;
			background: #f0e3ff;
			border:1px solid #aaa;}
.inputbox:hover, .inputbox:focus { color:#000; background:#ffffb0; }
/* comment next three lines to get a standard button */
.inputbutton {color:#033EC6;
			background: #e4d1fe;
			border:1px solid #aaa;}
.inputbutton:hover { color:#f00; background:#ffffb0 }

#topnav li a:hover, #topnav li a:active { background:#ffffb0 }

#footnavbox { border-top:1px solid #aaa;
			padding-top:0.2em }

#footnav { background:#f0e3ff; }
#footnav li a { background:#e4d1fe;
			border:1px solid #ccc; }
#footnav li a:hover, #footnav li a:active { background:#ffffb0 }

#footer { border-top:1px solid #aaa; }

#rightbar, #edithelp { background:#dac0ff;
	    border:1px solid #999 }

#editpreview { border:3px solid #aaa; background: #f0e3ff; }
.previewheader { border-bottom:1px ridge #999; background:#DAC0FD; }
.previewfooter { border-top:1px ridge #999;	background:#DAC0FD; }


/* comment message box  */
.messageheader, .messagefooter, .messagehead  { background:#E7D1FF; }
.messageauthor { background:#ECDBFF; }
.messagesubject { background:#F1E5FF; }
.messagetext, .messageitem { background:#F7F0FF;  }