/* CSS Document */
/*
#===============================================================================
# font-times.css
# 
# part of the Gemini Two & FixFlow skin for Pmwiki
#=========================================================================*/
/*======= Master font sizes =========*/
body { font-size: 90%; } /*for all parts*/

#content  { font-size: 110%; }
#header   { font-size: 100%; }
#titlebar { font-size: 100%; }
#rightbar { font-size: 85%; } /* percent of #content*/ 
#sidebar  { font-size: 85%; }
#topnav, #stdtopnav, #smltopnav   { font-size: 85%; }
#footnav  { font-size: 85%; }
#footer   { font-size: 85%; }

/*=============================*/
/*monospaced (code) font */
code, pre { font-family: Courier New, monospace; }
form textarea { font-size: 1.1em; }
form input { font-size: 0.9em; }

#pagegroup { font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif; }
#pagegroup { font-size:1em; font-weight:600; }
#pagetitle h1  { font-size:2.2em; font-weight:600; }

#main { font-family: "times new roman", times,  serif; }
#content h1, #content h2, #content h3, 
#content h4, #content h5, #content h6 { 
			font-weight:600; 
			line-height:133%;
			}
#content h1 { font-size:2.1em; }
#content h2 { font-size:1.9em; border-bottom:1px solid }
#content h3 { font-size:1.5em; }
#content h4 { font-size:1.3em; font-style:italic }
#content h5 { font-size:1.1em; }
#content h6 { font-size:1.0em; font-variant:small-caps;}

#sidebar h1 { font-size:1.1em; }
#sidebar h2 { font-size:1.05em; }
#sidebar h3 { font-size:1.0em; }
#sidebar h4 { font-size:1.0em; }
#sidebar h5 { font-size:1.05em; }
#sidebar h6 { font-size:1.0em; }
p.sidehead { font-size:1.1em; font-weight:700; }

#topnav, #stdtopnav, #smltopnav, #sidebar, #footnav, #footer { font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif; } 

#rightbar h1 { font-size:1.7em }
#rightbar h2 { font-size:1.5em }
#rightbar h3 { font-size:1.3em }
#rightbar h4 { font-size:1.2em }

#sideheader { font-size: 220%; } /*to counteract sidebar fontsize*/
#header, #sideheader { 
	font-weight:600; 
	font-family: "times new roman", times,  serif;
}
#header h1, #header h2, 
#header h3, #header h4,
#header h5, #header h6,
#sideheader h1, #sideheader h2, 
#sideheader h3, #sideheader h4,
#sideheader h5, #sideheader h6 {  
		font-weight:600; margin:0 2px 2px 0;
		line-height:100%; 
}